html, body, div, a, img, ul, li, footer, header, menu, nav { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body { line-height: 1; }

ul { list-style: none; }

header { display: block; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body { position: relative; overflow-x: hidden; }

body { width: 100%; background: url(img/top-fon.jpg) center top no-repeat; background-color: #ffffff; color: #2c3844; min-height: 100vh; }

a { transition: all 0.3s ease; color: #d8d0cc; text-decoration: none; }

a:hover { text-decoration: none; }

img { max-width: 100%; }

.button { height: 64px; width: 241px; border: none; color: #fff; position: relative; text-align: center; text-transform: uppercase; font-family: "AlbertusMedium"; filter: brightness(100%)}

.button-small {width: 135px; height: 50px; line-height: 50px; }

.container { max-width: 1200px; width: 1200px; margin: 0 auto; position: relative; height: 100%; }

.flex { display: flex; flex-wrap: wrap; }

.flex-c { display: flex; align-items: center; flex-wrap: wrap; }

.flex-s { display: flex; justify-content: space-between; flex-wrap: wrap; }

.flex-s-c { display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; }

.flex-c-c { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; }

.topPanel { position: fixed; top: 0; left: 0; right: 0; background: rgba(18, 23, 26, 0.9); height: 80px; z-index: 10; box-shadow: 0px 0px 6px rgba(0,0,0,0.4);}
.topPanel-left { height: 100%; }
.topPanel-right { height: 100%; }

.logoMini { border-right: 1px solid rgba(255, 255, 255, 0.1); padding: 0px 30px; height: 100%; }

.menu { height: 100%; }
.menu li { height: 100%; position: relative; }
.menu li a { display: block; color: #ffffff; text-transform: uppercase; height: 100%; line-height: 80px; padding: 0px 40px; }
.menu li a:hover { background-color: rgba(0, 0, 0, 0.2); color: #fdb04c;}
.menu li:after { position: absolute; width: 22px; height: 22px; top: 50%; margin-top: -11px; right: -11px; }
.menu li:last-child:after { display: none; }

.sign-up { text-transform: uppercase; color: #ffffff; font-size: 17px; display: block; position: relative; padding: 20px 12px; }

.login { margin: 0px 10px; }

.header { position: relative; height: 1050px; }

.logo { position: absolute; top: 130px; left: 10px; }

.sparks { position: absolute; width: 100%; bottom: 400px; }

.sparks > div { position: absolute; }

.sparks .spark_1 { background: url(img/spark.png) no-repeat; width: 764px; height: 313px; right: 0; bottom: -120px; transform: scale(0.6); opacity: 0; animation: spark-1 4s linear infinite; animation-delay: 1s; }

@keyframes spark-1 { 0% { bottom: -320px; transform: scale(0.6); opacity: 1; }
  25% { bottom: -240px; transform: scale(0.7); opacity: 1; }
  50% { bottom: -160px; transform: scale(0.8); opacity: 1; }
  75% { bottom: -80px; transform: scale(0.9); opacity: 0.5; }
  to { bottom: 0; transform: scale(1); opacity: 0; } }
.sparks .spark_2 { background: url(img/spark.png) no-repeat; width: 149px; height: 335px; right: 230px; bottom: -320px; transform: scale(0.6); animation: spark-1 4s linear infinite; animation-delay: 2s; opacity: 0; }

.sparks .spark_3 { background: url(img/spark.png) no-repeat; width: 128px; height: 165px; right: 280px; bottom: -140px; transform: scale(0.6); animation: spark-3 4s linear infinite; animation-delay: 2s; opacity: 0; }

@keyframes spark-3 { 0% { bottom: -140px; -webkit-transform: scale(0.6); transform: scale(0.6); opacity: 1; }
  25% { bottom: -80px; -webkit-transform: scale(0.7); transform: scale(0.7); opacity: 1; }
  50% { bottom: -20px; -webkit-transform: scale(0.8); transform: scale(0.8); opacity: 1; }
  75% { bottom: 40px; -webkit-transform: scale(0.9); transform: scale(0.9); opacity: 0.5; }
  to { bottom: 100px; -webkit-transform: scale(1); transform: scale(1); opacity: 0; } }
.sparks .spark-big { background: url(img/spark.png) no-repeat; width: 794px; height: 176px; right: 0; bottom: -180px; transform: scale(0.6); animation: spark-5 4s linear infinite; opacity: 0; }

@keyframes spark-5 { 0% { bottom: -180px; transform: scale(0.6); opacity: 1; }
  25% { bottom: -120px; transform: scale(0.7); opacity: 1; }
  50% { bottom: -60px; transform: scale(0.8); opacity: 1; }
  75% { bottom: 0; transform: scale(0.9); opacity: 0.5; }
  to { bottom: 60px; transform: scale(1); opacity: 0; };}